//HMACLINK JOB (FTPD),
//            'Link HMAC',
//            CLASS=A,
//            MSGCLASS=A,
//            REGION=8M,
//            MSGLEVEL=(1,1),
//            USER=IBMUSER,PASSWORD=SYS1
//LKED     EXEC PGM=IEWL,PARM='NCAL,MAP,LIST,XREF,NORENT'
//SYSUT1   DD UNIT=SYSDA,SPACE=(CYL,(5,2))
//SYSPRINT DD SYSOUT=*
//SYSLMOD  DD DSN=SYS2.CMDLIB(TOTPTEST),DISP=SHR
//SYSLIN   DD DATA,DLM=$$
::E totptest.load
$$
